.root {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.image_container {
  width: 70%;
  max-width: 500px;
}

img {
  width: 100%;
  height: auto;
  background-size: cover;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  width: 30%;
  margin: 30px;
  text-align: center;
}

.giphy_link {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.giphy_link:hover {
  color: var(--accent-color);
}

.giphy_link:active{
  color: white;
}

.btnWrapper {
  margin: 15px;
}

.btn {
  font-size: 0.9em;
  background-color: white;

}


.btn:hover {
  cursor: pointer;
}
