:root {
  --margin-padding: 15px;
}
.grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: calc(var(--margin-padding) * -1); /* gutter size offset */
  width: auto;
}
.grid_column {
  padding-left: var(--margin-padding); /* gutter size */
  background-clip: padding-box;
}

.grid_column > div { 
  background: grey;
  margin-bottom: var(--margin-padding);
}