.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.link {
  position: absolute; 
  top: 30px;
  right: 30px;
  text-decoration: none;
  color: var(--accent-color);
}

#back {
  width: min-content;
  left: 30px;
}

#back:hover {
  cursor: pointer;
}