.backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--accent-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color:black;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.backToTop:hover {
  background-color: var(--accent-color-darken);
}


.arrow{
	border-top: 0;
	border-bottom: 10px solid rgb(116, 116, 116);
	content: "";
}

.arrow {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
  transform: translate(0, -50%);
	border-bottom: 10px solid rgb(116, 116, 116);
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	content: "";
}